import /vendor/etc/init/hw/init.baseband.rc

on boot
   
 
    # Headphones (Headset)
    chown system system /sys/class/input/input12/enabled
    chmod 0660 /sys/class/input/input12/enabled

    # Physical Home Button (gpio-keys)
    chown system radio /sys/class/input/input11/enabled
    chmod 0660 /sys/class/input/input11/enabled

    # Capacitive Buttons (sec_touchkey)
    chown system radio /sys/class/input/input10/enabled
    chmod 0660 /sys/class/input/input10/enabled

    # Grip Sensor
    chown system system /sys/class/input/input9/enabled
    chmod 0660 /sys/class/input/input9/enabled

    # Proximity Sensor
    chown system system /sys/class/input/input8/enabled
    chmod 0660 /sys/class/input/input8/enabled

    # Light Sensor
    chown system system /sys/class/input/input7/enabled
    chmod 0660 /sys/class/input/input7/enabled

    # Magnetic Sensor
    chown system system /sys/class/input/input6/enabled
    chmod 0660 /sys/class/input/input6/enabled

    # Gyro Sensor
    chown system system /sys/class/input/input5/enabled
    chmod 0660 /sys/class/input/input5/enabled

    # Accelerometer sensor
    chown system system /sys/class/input/input4/enabled
    chmod 0660 /sys/class/input/input4/enabled

    # MHL (sii8240_rcp)
    chown system system /sys/class/input/input3/enabled
    chmod 0660 /sys/class/input/input3/enabled

    # Touchscreen (sec_touchscreen)
    chown system system /sys/class/input/input2/enabled
    chmod 0660 /sys/class/input/input2/enabled

    # Micro-USB IC (max77803-muic)
    chown system system /sys/class/input/input0/enabled
    chmod 0660 /sys/class/input/input0/enabled

    # Grip_sensor
    chown system radio /sys/class/sensors/grip_sensor/vendor
    chown system radio /sys/class/sensors/grip_sensor/name
    chown system radio /sys/class/sensors/grip_sensor/raw_data
    chown system radio /sys/class/sensors/grip_sensor/calibration
    chown system radio /sys/class/sensors/grip_sensor/threshold
    chown system radio /sys/class/sensors/grip_sensor/onoff

on init
 export LD_SHIM_LIBS "/vendor/bin/gpsd|libdmitry.so" 

on post-fs-data
# YAAS(Yamaha Android Audio System) uses.
    mkdir /data/ymc 0775 system system
    chmod 0666 /dev/snd/controlC0
# SVC LED
    chown system system /sys/class/sec/led/led_r
    chown system system /sys/class/sec/led/led_g
    chown system system /sys/class/sec/led/led_b
    chown system system /sys/class/leds/led_r/brightness
    chown system system /sys/class/leds/led_g/brightness
    chown system system /sys/class/leds/led_b/brightness
    chown system system /sys/class/leds/led_r/delay_on
    chown system system /sys/class/leds/led_g/delay_on
    chown system system /sys/class/leds/led_b/delay_on
    chown system system /sys/class/leds/led_r/delay_off
    chown system system /sys/class/leds/led_g/delay_off
    chown system system /sys/class/leds/led_b/delay_off
    chown system system /sys/class/leds/led_r/blink
    chown system system /sys/class/leds/led_g/blink
    chown system system /sys/class/leds/led_b/blink
    chown system system /sys/class/sec/led/led_pattern
    chown system system /sys/class/sec/led/led_blink
    chown system system /sys/class/sec/led/led_br_lev
    chown system system /sys/class/sec/led/led_lowpower

# Input Boosters
    write /sys/class/sec/sec_epen/wacom_booster_enabled 0


on fs

# Broadcom NFC
    chmod 0600 /dev/bcm2079x
    chown nfc nfc /dev/bcm2079x
    mkdir /data/bcmnfc
    mkdir /data/bcmnfc/param
    chmod 0700 /data/bcmnfc
    chmod 0700 /data/bcmnfc/param
    chown nfc nfc /data/bcmnfc
    chown nfc nfc /data/bcmnfc/param

